#hero {
  font-family: Gilroy;
  overflow: hidden;
  width: 100%;
  height: 85%;
  display: flex;
}
#hero-left {
  overflow: hidden;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 35%;
}
#hero-content > h1 {
  font-size: 4rem;
}
#hero-content > h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

#hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
#hero-right > img {
  padding: 0%;
  width: 39rem;
  height: 38rem;
}

#droparea {text-align: center;
flex-direction: column;
  display: flex;justify-content: center;align-items: center;
  border: 2px dashed #ccc;
  border-radius: 15px;
  padding: 20px;
  width: 55%;
  height: 50%;
  cursor: pointer;
}
#droparea>p{
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
#files-container {
  /* background-color: #0031F2; */
  width: 98% !important;
  height: 65%;
  display: flex;
}
#uploadFiles {
    /* background-color: rebeccapurple; */
    height: 98%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#downloadFiles {
  width: 45%;
  height: 90%;
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto; /* Enable scroll when content overflows */
  overflow-x: hidden;       
}
#downloadFiles::-webkit-scrollbar {
  display: none;
}
#drop-zone-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none; /* Initially hidden */
}
.file {
  height: 3.5rem;
  display: flex;
  gap: 0.3vw;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  background-color: #f0f0f0; /* Example background color */
  border-radius: 15px; /* Rounded corners for each file */
  width: 90%; /* Adjust width as needed */
}

.fileicon {
  width: 50px; /* Adjust icon size */
  height: 50px;
}

.filename {
  width: 70%;
  height: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1rem; /* Adjust font size */
}

.download-btn {
  width: 50px;
  height: 40px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.svgIcon {
  fill: rgb(70, 70, 70);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(70, 70, 70);
  border-left: 2px solid rgb(70, 70, 70);
  border-right: 2px solid rgb(70, 70, 70);
}

.download-btn:hover {
  background-color: rgb(51, 51, 51);
  transition-duration: 0.3s;
}

.download-btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.download-btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#progress-bar {
    margin: 0 auto;
    width: 85%;
    height: 4rem; /* Adjust height as needed */
    display: none;
    align-items: center;
    border-radius: 10px;
    background-color: #f0f0f0; /* Adjust background color */
    padding: 5px;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .file-icon {
    width: 60px; /* Adjust icon size */
    height: auto;
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  #progress-bar-right {
    width: calc(100% - 80px); /* Adjust width for right section */
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #progress-bar-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #progress-wrapper {
    width: 100%;
    height: 50%; /* Adjust height of progress bar */
    background-color: #ddd; /* Adjust background color */
    margin-top: 5px; /* Adjust margin as needed */
  }
  

  
  /* tooltip settings 👇 */
#createRoom{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
#createRoom-btns{
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw    ;
}
.copy {
    /* delete-btn */
    --button-bg: #353434;
    --button-hover-bg: #464646;
    --button-text-color: #CCCCCC;
    --button-hover-text-color: #8bb9fe;
    --button-border-radius: 10px;
    --button-diameter: 36px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    /* --tooltip-transition-duration: 0.3s; */
    /* 👆 if you need a transition, 
    just remove the comment,
    but I didn't like the transition :| */
  }
  
  .copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
  }
  
  .tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    content: attr(data-text-initial);
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }
  
  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkmark {
    display: none;
  }
  
  /* actions */
  
  .copy:hover .tooltip,
  .copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }
  
  .copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }
  
  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }
  
  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }
  
  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }
  
  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }
  
  .copy:hover svg {
    color: var(--button-hover-text-color);
  }
  .create-btn {
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    color: white;
    font-weight: bolder;
    background-color: rgb(79 70 229);
    background: linear-gradient(144deg, #FFD700, #FFA500 50%, #FF6347);


    font-weight: 600;
    border-radius: 0.5rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    transition: all 0.35s linear;
  }
  
  .create-btn:hover {
    box-shadow: inset 0 5px 25px 0 #FFD700, inset 0 10px 15px 0px #FFA500 ,
      inset 0 5px 25px 0px #FF6347;
  }
  

  .delete-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
  }
  #progress-bar-status {
    height: 1rem;
    background: repeating-linear-gradient(45deg, #0031F2 0 30px, #006DFE 0 40px) right/200% 100%;
    border-radius: 10px;
    border: 1px solid #006DFE;
  }

  #progress-bar-content{

  }
  
  #progress-bar-content>h4{
    width: 100%;
    height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #done{
    margin-left: 1vw;
    width: 1.6rem;
    height: 1.6rem;
  }
  .delete-btn>.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .delete-btn>.svgIcon path {
    fill: white;
  }
  
  .delete-btn:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
  }
  
  .bin-top {
    transform-origin: bottom right;
  }
  .delete-btn:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }
  
  #upload-img{
    width: 4rem;
    height: 4rem;
  }