#hero {
  position: relative;

  font-family: Gilroy;
  overflow: hidden;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
#hero-left {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-content {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 50%;
}
#hero-content > h1 {
  font-size: clamp(1.2rem, 0.9474rem + 4.0421vw, 6rem);
}
#hero-content > h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}
#star{
  background-color: transparent;
  mix-blend-mode: color-burn;
  position: absolute;
  width: clamp(10rem, 5.3333rem + 9.3333vw, 17rem);
  /* width: clamp(12rem, 8.6667rem + 6.6667vw, 17rem); */
top: 0rem;
right: 50%;
}
#hero-content > h3 {
  width: 100%;
  line-height: 1.2rem;
  font-size: clamp(0.8rem, 0.7368rem + 1.0105vw, 2rem);
  margin-bottom: 1vh;
}
#hero-content > h4 {
  width: 100%;
  color: rgba(0, 0, 0, 0.829);
  /* color: red; */
  font-weight: 10;
  line-height:clamp(0.8rem, 0.7474rem + 0.8421vw, 1.8rem);
  font-size: clamp(0.7rem, 0.6579rem + 0.6737vw, 1.5rem);
}
#room-id {
  display: flex;
  gap: 0.2rem;
  /* width: 6rem; */
}
#room-id > h4 {
  margin: 0;
  padding: 0;
  font-size: clamp(0.6rem, 0.5526rem + 0.7579vw, 1.5rem);
}
#hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
#hero-img {
  padding: 0%;
  width: clamp(18rem, 16.8947rem + 17.6842vw, 39rem);
  height: clamp(18rem, 16.8947rem + 17.6842vw, 39rem);
}

#droparea {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 15px;
  padding: 20px;
  width: 55%;
  height: 60%;
  cursor: pointer;
}
#droparea > p {
  margin: 0;
  padding: 0;
  font-size: clamp(0.6rem, 0.5368rem + 1.0105vw, 1.8rem);
}
#files-container {
  width: 98% !important;
  height: 90vh;
  display: flex;
}
#uploadFiles {
  margin: auto;
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#downloadFiles {
  margin: auto;
  cursor: pointer;
  width: 45%;
  height: 90%;
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto; /* Enable scroll when content overflows */
  overflow-x: hidden;
}
#downloadFiles::-webkit-scrollbar {
  display: none;
}
#drop-zone-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none; /* Initially hidden */
}
.file {
  height: 3.5rem;
  display: flex;
  gap: 0.3vw;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  background-color: white; /* Example background color */
  border-radius: 15px; /* Rounded corners for each file */
  width: 90%; /* Adjust width as needed */
}

.fileicon {
  width: 3rem;
  height: 3rem;
}
#filename-status{
  /* background-color: rebeccapurple; */
  display: flex;
  margin: auto;
  align-items: center;justify-content: space-between;
  width: 100%;

  height:50%;
}
.filename>h4{
  margin: auto;
  /* display: flex; */


  width: 100%;
  /* height: 50% ; */
  text-overflow: ellipsis;
  overflow: hidden;
  /* font-size: clamp(0.7rem, 0.6526rem + 0.7579vw, 1.6rem); */
}
.filename {
  margin: auto;
  display: flex;
 flex-wrap: wrap;
  
  flex-direction: column;
 justify-content: flex-start;

  width: 80%;
  height: 60% ;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: clamp(0.7rem, 0.6526rem + 0.7579vw, 1.6rem);
}

.download-btn {
  padding: 0.7rem 0.6rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-right: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.svgIcon {
  width: 18px;
  height: 11px;
  fill: rgb(70, 70, 70);
}

.icon2 {
  width: 8px;
  height: 1px;
  border-bottom: 2px solid rgb(70, 70, 70);
  border-left: 2px solid rgb(70, 70, 70);
  border-right: 2px solid rgb(70, 70, 70);
}

.download-btn:hover {
  background-color: rgb(51, 51, 51);
  transition-duration: 0.3s;
}

.download-btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.download-btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#progress-bar {
  opacity: 0;
  margin: 0 auto;
  width: 85%;
  height: 4rem; /* Adjust height as needed */
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.file-icon {
  width: 60px; /* Adjust icon size */
  height: auto;
  margin-right: 20px; /* Adjust margin as needed */
}

#progress-bar-right {
  width: calc(100% - 80px); /* Adjust width for right section */
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

#progress-bar-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress-wrapper {
  display: flex;
  width: 100%;
  height: 50%; /* Adjust height of progress bar */
  margin-top: 5px; /* Adjust margin as needed */
}

/* tooltip settings 👇 */
#createRoom {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
#createRoom > h4 {
  font-size: clamp(0.7rem, 0.6842rem + 0.2526vw, 1rem);
}
#createRoom-btns {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}
.copy {
  /* delete-btn */
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #cccccc;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter:  clamp(2.4rem, 2.3474rem + 0.8421vw, 3.4rem);
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
  --tooltip-font-size: 12px;

  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
}
#hero-banner {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  padding: clamp(0.5rem, 0.4526rem + 0.7579vw, 1.4rem);

  position: relative;
  outline: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration)
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}
.create-btn {
  cursor: pointer;
  font-size: clamp(0.6rem, 0.5579rem + 0.6737vw, 1.4rem);
  line-height: 0.7rem;

  padding: clamp(0.5rem, 0.4526rem + 0.7579vw, 1.4rem);
  color: white;
  font-weight: bolder;
  background-color: rgb(79 70 229);
  background: linear-gradient(144deg, #ffd700, #ffa500 50%, #ff6347);
  font-weight: 600;
  border-radius: 0.5rem;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.2rem; */
  transition: all 0.35s linear;
}

.create-btn:hover {
  box-shadow: inset 0 5px 25px 0 #ffd700, inset 0 10px 15px 0px #ffa500,
    inset 0 5px 25px 0px #ff6347;
}

.delete-btn {
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 0px;
}
#progress-bar-status {
  height: 1rem;
  background: repeating-linear-gradient(45deg, #0031f2 0 30px, #006dfe 0 40px)
    right/200% 100%;
  border-radius: 10px;
  border: 1px solid #006dfe;
}

#done {
  margin-top: 1vh;
  margin-left: 1vw;
  width: 1.6rem;
  height: 1.6rem;
}
.delete-btn > .svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-btn > .svgIcon path {
  fill: white;
}

.delete-btn:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}
.delete-btn:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

#upload-img {
  width: clamp(4rem, 3.8421rem + 2.5263vw, 7rem);
  height: clamp(4rem, 3.8421rem + 2.5263vw, 7rem);
}
@media only screen and (max-width: 800px) {
  #hero-banner {
    /* background-color: #006dfe; */
    justify-content: flex-start;
    gap: 5vh;
    height: max-content;
    width: 100%;
    flex-direction: column;
  }
  #hero-img {
    height: clamp(10rem, 6.3636rem + 58.1818vw, 50rem);
    width: clamp(10rem, 6.3636rem + 58.1818vw, 50rem);
  }
  #hero {
    width: 100%;
    height: max-content;
  }

  #files-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
  }
  #hero-content {
    /* background-color: red; */
    justify-content: center;
    margin-top: 5vh;
    width: 90%;
    height: max-content;
  }
  #star{
    display: none;
  }
  #uploadFiles {
    justify-content: center;
    /* background-color: purple; */
    align-items: center;
    height: 27rem;
    width: 100%;
  }
  #downloadFiles {
    width: 95%;
    height: 90%;
  }
  #droparea {
    width: 60%;
    height: clamp(10rem, 9.4737rem + 8.4211vw, 20rem);
  }
}
@media only screen and (max-width: 350px) {
  
  #room-id {
    flex-direction: column;
  }
}
