nav {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
}
#nav-right {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.input {
  width: 80%;
  height: clamp(2rem, 1.9211rem + 1.2632vw, 3.5rem);
  line-height: 30px;
  padding: 0 0.5rem;
  padding-left: 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
#logo {
  margin-left: 2vw;
  width: max-content;
  height: 90%;
  gap: 0.1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#logo > h1 {
  font-size: clamp(1.3rem, 1.2474rem + 0.8421vw, 2.3rem);
}
#logo > img {
  object-fit: contain;
  width: clamp(2.5rem, 2.4211rem + 1.2632vw, 4rem);
  height: clamp(2.5rem, 2.4211rem + 1.2632vw, 4rem);
}
#join-room {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding: 0 0.2rem;
  height: 100%;
}
#joinRoom-btn {
  font-family: inherit;
  font-size: 1rem;
  background: linear-gradient(135deg, #ffd700, #ffa500);
  color: white;
  padding: 0.8rem;
  /* width: 3rem; */

  padding-left: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 1000;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  transition: 1s ease;
}

#joinRoom-btn span {
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#joinRoom-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#joinRoom-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
#joinRoom-btn:hover {
  background: linear-gradient(135deg, #ffa500, #ffd700);
}
#joinRoom-btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#joinRoom-btn:hover span {
  transform: translateX(5em);
}

#joinRoom-btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

#roomId {
  background-color: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}
.Btn {
  display: flex;
  gap: 0px;
  align-items: center;

  /* justify-content: flex-start; */
  width: clamp(2.3875rem, 1.3156rem + 3.75vw, 3.125rem);
  height: clamp(2.3875rem, 1.3156rem + 3.75vw, 3.125rem);
  border: none;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #ffd700, #ffa500);
}

.sign {
  width: 100%;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #ecf0f1;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.4s;
}

.Btn:hover {
  width: 180px;
  border-radius: 10px;
  transition-duration: 0.4s;
  background: linear-gradient(to right, #ff5733, #ff0000);
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.4s;
}

.Btn:hover .text {
  color: white;
  opacity: 1;
  width: 70%;
  transition-duration: 0.4s;
}

.Btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 400px) {
  .Btn {
    justify-content: center;
  }

  .Btn:hover {
    width: 100px;
    border-radius: 10px;
    transition-duration: 0.4s;
    background: linear-gradient(to right, #ff5733, #ff0000);
    .text {
      display: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  nav {
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
  }
  #joinRoom-btn span {
    display: none;
  }
  #join-room {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* padding: 0 1rem; */
    height: 50%;
  }
  #nav-right {
    margin: auto;
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
  }
  #joinRoom-btn {
    padding: 0.4rem;
    /* width: 3rem; */

    padding-left: 0.5em;
  }
  #joinRoom-btn:hover .svg-wrapper {
    animation: none;
  }
  #joinRoom-btn span {
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  #joinRoom-btn svg {
    display: block;
    /* transform-origin: center center; */
    transition: transform 0.3s ease-in-out;
  }

  #joinRoom-btn:hover {
    background: linear-gradient(135deg, #ffa500, #ffd700);
  }
  #joinRoom-btn:hover svg {
    transform: none;
  }

  #joinRoom-btn:hover span {
    transform: none;
  }

  #joinRoom-btn:active {
    transform: scale(0.95);
  }
}
